@import "tailwindcss";
@theme{
  --color-footer-bg-clr:#141718;
  --color-light-green:#38CB89;
  --color-primary: #f7fafc;
  --color-cta-blue: #1447E6;
  --color-promo-gray: #edf2f7;
  --color-hero-text: #6C7275;
  --color-common-black: #000000;
  --color-common-white: #ffffff;
}
@utility container {
    @apply max-w-[1180px] mx-auto px-5;
}

/* Animation to slide up the banner */
@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
    max-height: 100px; /* Set this to a value that will always be larger than your banner height */
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
    max-height: 0;
  }
}
.slide-up {
  animation: slideUp 0.5s ease-out forwards;
  overflow: hidden; /* Ensures content doesn't overflow during animation */
}
/* Optional: If needed, you can use custom CSS to reset styles for Swiper's default arrows */
.swiper-button-next,
.swiper-button-prev {
  color: black; /* Override the default color */
  width: 55px;
  height: 55px;
  font-size: 5px !important;
}
/* Ensure the pagination is at the bottom with a black progress bar */
.swiper-pagination {
  position: absolute !important;        
  bottom: 0 !important;                 
  left: 0 !important;                   
  width: 100%;               
  height: 6px;               
}
.swiper-pagination-progressbar {
  background-color: lightgray;  
}
/* Optional: if you want to remove any default styles */
.swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #000000 !important;  /* Ensure the progress bar fill is black */
}






 

  